*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-col{
  color: #2c3e50;
  font-weight: bold;
}

.blue{
  background-color: #2c3e50;

}
.white{
  color: white;
}

.center{
  background-color: #1abc9c;
}

.pdtb{
  padding-top: 10px;
  padding-bottom: 10px;
}

.upc{
  text-transform: uppercase;
}

.bd{
  border: 1px solid black;
}
 .green{
   background-color: #1abc9c;

 }
 .txt-c{
   text-align: center;
 }

 .bd-white{
   border: 5px solid white;
 }

 .bdr{
   border-radius: 10px;
 }

.mglr-5{
margin: 10px;
}

 .mrb-5{
   margin-bottom: 5px;
 }

 .mrb-20{
   margin-bottom: 20px;
 }

 .pd-top20{
   padding-top: 20px;
 }
.mrg-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mr-l{
  margin-left: 30%;
}

.mr-r{
  margin-right: 30%;
}

.pdb-50{
  padding-bottom: 50px;
}

.mrgt30{
  margin-top: 30px;
}
.mrg-t55{
  margin-top: 48px;
}

.pd10{
  padding-right: 10px;
}

.end{
  background-color: #212529;
}

.navbar-default .navbar-brand{
  color: white;
  font-weight: bold;
}

#navbar .navbar-nav li a{
  color: white;
  font-weight: bold;
}

.smile-boy{
  height: 250px;
  padding-top: 50px;
}

.bdr-wh{
  border-radius: 50px solid white;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
}


.title{
  font-size: 60px;
  font-weight: bolder;
  text-transform: uppercase;
}

.square{
  border-top: 3px solid white;
  width: 10%;
  display: inline-block;
  padding-top: 3px;
}

.size{
  font-size: 25px;
}

.square2{
  border-top: 3px solid #2c3e50;
  width: 10%;
  display: inline-block;
  padding-top: 3px;
}


 .piccola{
  width: 100%;
  height: 100%;
}

.slide{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sm-title{
  font-size: 15px;
  text-transform: uppercase;
}
.social a i{
  border: 1px solid white;
  border-radius: 100%;
}
.pd-10{
  padding: 10px;
}
